@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
}

.section-tittle{
    text-align: center;
    margin: 30px 0px;
}
